.login {
    max-width: 400px;
    margin: auto;
  }
  
  .login .ant-form-item-label {
    text-align: left;
  }

  .signup {
    max-width: 400px;
    margin: auto;
  }
  
  .signup .ant-form-item-label {
    text-align: left;
  }
  .admin {
    max-width: 800px;
    margin: auto;
  }
  
  .admin .ant-input,
  .admin .ant-btn {
    margin-bottom: 16px;
  }

  .blog-content {
    max-width: 800px;
    margin: auto;
    margin-left: 15%;
    margin-right: 15%;
  }
  
  .blog-post {
    margin-bottom: 32px;
  }

  .buttons > * {
    margin: 0.5rem;
  }
  .comments > p {
    margin: 1rem;
  }

  .ant-menu-horizontal {
    width: 100%;
    border-bottom: none;
  }